<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div id="tab-list" class="container mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="CoffeeLoversUnited">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="carousel">carousel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="party">party</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">intro</a>
      </li>
    </ul>
  </div>

  <div class="jumbotron text-center">
    <---Make this-->
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Time</h3>
        <p>Sometimes I lose track of time, especially when I do coding.</p>
        <p>The time now is: </p>
        <p> th:text="'' + ${hour} + ' : ' +  ${minute}" </p>

      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>

</body>
</html>